{{> header title="Generes"}}
    
    

    <ul>
        {{#each generes}}
        <li>{{this.name}}</li>
        {{else}}
        <li>NO genere</li>
        {{/each}}
    </ul>

{{> footer year=2022}}